
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<div style="margin-top : 50px; align-items : center;height : 200px; justify-content : center; display : flex">
    <div>
        <h4 style="text-align: center">Đặt hàng thành công !</h4>
        <h4 style="text-align: center">Mã hóa đơn : @ViewBag.rOrderId</h4>
    </div>

</div>
