
@using FoodStore.Models
@{ var kh = Session["TaiKhoan"]; }



@if (Session["TaiKhoan"] == null)
{
    <ul class="header-links pull-right">
        <li><a href="~/User/DangNhap?id=1"><i class="fa fa-user-o"></i>Tài khoản</a></li>
    </ul>
}
else
{
    <ul class="header-links pull-right">
        <li><a href="#"><span class="fa fa-user"></span> Xin chào:@kh</a></li>
        <li>
            <a href="@Url.Action("DangXuat","User")">
                <span class="fa fa-sign-out "></span> Đăng xuất


            </a>
        </li>
    </ul>

}