
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div style="margin-top : 50px; height : 200px; align-items : center; justify-content : center; display : flex;">
    <h4 style="text-align: center">Đặt hàng thành công !</h4>

</div>