<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trungthang-001-site1.dtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5173.site4now.net:8172/MsDeploy.axd?site=trungthang-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>trungthang-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>trungthang-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FoodStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5103.site4now.net;Initial Catalog=db_a9007a_login;User ID=db_a9007a_login_admin;Password=1212121212Aa" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FoodStore.Models.FoodStoreEntities, FoodStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FoodStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoodStore.csdl|res://*/Models.FoodStore.ssdl|res://*/Models.FoodStore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5103.site4now.net;Initial Catalog=db_a9007a_login;User ID=db_a9007a_login_admin;Password=1212121212Aa"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>