<div class="container about">
    <h2 align="center">Câu hỏi thường gặp</h2>
    <div class="accordion">
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    01. How long until I see
                    results?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    We start working on your order within 24 hours. Depending on the size of your order the
                    delivery time may differ. Larger orders may take several days or even weeks, whereas small
                    orders can often be finished within 1-2 days. If you do not see any increase within 48-72
                    hours, you can drop us a message to support@tubekick.co.
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    01. How long until I see
                    results?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    We start working on your order within 24 hours. Depending on the size of your order the
                    delivery time may differ. Larger orders may take several days or even weeks, whereas small
                    orders can often be finished within 1-2 days. If you do not see any increase within 48-72
                    hours, you can drop us a message to support@tubekick.co.
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    01. How long until I see
                    results?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    We start working on your order within 24 hours. Depending on the size of your order the
                    delivery time may differ. Larger orders may take several days or even weeks, whereas small
                    orders can often be finished within 1-2 days. If you do not see any increase within 48-72
                    hours, you can drop us a message to support@tubekick.co.
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    01. How long until I see
                    results?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    We start working on your order within 24 hours. Depending on the size of your order the
                    delivery time may differ. Larger orders may take several days or even weeks, whereas small
                    orders can often be finished within 1-2 days. If you do not see any increase within 48-72
                    hours, you can drop us a message to support@tubekick.co.
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    01. How long until I see
                    results?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>
                    We start working on your order within 24 hours. Depending on the size of your order the
                    delivery time may differ. Larger orders may take several days or even weeks, whereas small
                    orders can often be finished within 1-2 days. If you do not see any increase within 48-72
                    hours, you can drop us a message to support@tubekick.co.
                </p>
            </dd>
        </dl>
    </div>

</div>