<style>
    .row{
        padding-top : 0;
    }
    .img-responsive {
        border-radius: 0;
    }
    .item {
        max-width : 100%;
        max-height : 500px;
        object-fit: cover;
        border-radius: 0;
    }
    .bn{
        padding : 0;
        padding-bottom: 5rem;
        overflow: hidden;

    }
    .banner{
        width :100%;
      
    }
</style>


    <div class="banner">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="carousel1" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                        <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                        <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                        <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                        <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="thumb">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="thumb">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="thumb">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="thumb">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="thumb">

                        </div>

                    </div>
                    <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
