<style>
    .logo{
      width : 18rem;
    }
    .input{
        border-radius : 30px 0 0 30px;
        align-content : center;
        width : 20rem;
    }
    .header-search form {

        justify-content: center;
        display: flex;
    }
</style>
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +399512666</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i>Số 6, Trần Văn Ơn, Phường Phú Hòa, TP. Thủ Dầu Một, Tỉnh Bình Dương
</a></li>
        </ul>
        @*<ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i>VND</a></li>
            <li><a href="@Url.Action("LoginLogOutPartial","User")"><i class="fa fa-user-o"></i>Tài khoản</a></li>
        </ul>*@
        @Html.Action("LoginLogOutPartial","User")
    </div>
</div>
<!-- /TOP HEADER -->
<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="@Url.Action("Index","Products")" class="logo">
                        <img src="~/Content/Images/logo.png" class="logo"/>
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
            <!-- SEARCH BAR -->
            <div class="col-md-6">
                <div class="header-search">
                  <form action="/Home/TimKiem" >
                        
                        <input type="search" name="search" value=""class="input" placeholder="Bạn muốn ăn gì ?">
                        <button class="search-btn">Tìm kiếm</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->
            <!-- ACCOUNT -->
            <div class="col-md-3 clearfix">
                <div class="header-ctn">
                    <!-- Wishlist -->
                    
                    <!-- /Wishlist -->
                    <!-- Cart -->
                    <div class="dropdown">
                       @Html.Action("GioHangPartial","GioHang")
                        <div class="cart-dropdown">
                            <div class="cart-list">
                                <div class="product-widget">
                                    <div class="product-img">
                                        <img src="./img/product01.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                    </div>
                                    <button class="delete"><i class="fa fa-close"></i></button>
                                </div>

                                <div class="product-widget">
                                    <div class="product-img">
                                        <img src="./img/product02.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                    </div>
                                    <button class="delete"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                            <div class="cart-summary">
                                <small>3 Item(s) selected</small>
                                <h5>SUBTOTAL: $2940.00</h5>
                            </div>
                            <div class="cart-btns">
                                <a href="#">View Cart</a>
                                <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /Cart -->
                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->